@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: "JurajIlić";
	src: url("MapaMaterijali/JurajIlić.ttf");
}
@font-face {
	font-family: "NewYork";
	src: url("MapaMaterijali/NewYork.otf");
}
ul {
  list-style: none;
margin-top: -50px;
}
li {
  display: inline-block;
  margin-right: 60px;
  font-family: 'NewYork';
  font-size: 50px;
  color: black;
  text-shadow: 3px 3px 3px #000, 3px 3px 3px #000, 3px 3px 3px #000;
  line-height: 50px;
	text-indent: 160px;
}
h2 {
	font-family: 'JurajIlić';
	font-size: 100px;
	color: white;
	text-shadow: 5px 5px 5px #000, 5px 5px 5px #000, 5px 5px 5px #000;
	line-height: 50px
	}
h1{
	color: white;
	text-shadow: 5px 5px 5px #000, 5px 5px 5px #000, 5px 5px 5px #000;
}
body {
	background-image: url("MapaMaterijali/pozadina1.png");
}
p{
	font-family: 'NewYork';
	font-size: 50px;
	color: white;
	text-shadow: 5px 5px 5px #000, 5px 5px 5px #000, 5px 5px 5px #000;
	line-height: 50px;
	margin-left: 15px;
}
h3{
	 font-family: 'NewYork';
  font-size: 100px;
  color: black;
  text-shadow: 2px 4px 5px #000, 3px 2px 4px #000, 4px 2px 1px #000;
  line-height: 30px;
  margin-top: 500px;
}